<!DOCTYPE html>
<html ng-app = 'GarageSaleApp'>
<head>
	  	<!-- Latest compiled and minified CSS -->
	<link href='https://fonts.googleapis.com/css?family=Lobster|Droid+Serif|Open+Sans|Lora' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.	5/css/bootstrap.min.css">	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.	5/css/bootstrap-theme.min.css">

	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 
    <link href='https://fonts.googleapis.com/css?family=Oxygen|Vidaloka|Lobster+Two:700italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


  <title>GarageSaleApp</title>
 


  <!-- Latest compiled and minified CSS -->
  <style type="text/css">
  	.daNav{
  		background:transparent;
  		border:none;
  	}

  	#navBrand{
  		font-family: 'Lobster', cursive;
  		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  		color:white;
  	}

  	.navbar.transparent.navbar-inverse .navbar-inner {
	    border-width: 0px;
	    -webkit-box-shadow: 0px 0px;
	    box-shadow: 0px 0px;
	    background-color: rgba(0,0,0,0.0);
	    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , 	rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
	    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
	    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
	}

	nav a{
      font-size: 15px;
      font-weight: bold;
      font-family:'Open Sans';
      color: #FF0000;
	}

	.navbar-inverse .navbar-nav>li>a {
		color:black;
		
	}
	body{
		/*font-family: 'Lora';*/
	}

	/*font-family: 'Lobster', cursive;
	
	font-family: 'Asap', sans-serif;
	
	font-family: 'Josefin Slab', serif;
	
	font-family: 'Lobster Two', cursive;
	*/
  </style>

</head>
<body>
	<nav class="daNav navbar transparent navbar-inverse">
	  <div class="daNav container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="daNav navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-	target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#" id='navBrand'>The Whole Nine YardSales</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse daNav" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li><a href="/find_garage_sales">Find Garage Sales<span class="sr-only">(current)</span></a></li	>
	        <li><a href="/find_items">Shop for Items</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-	haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">One more separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	      <form class="navbar-form navbar-left" role="search">
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search">
	        </div>
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Post a Garage Sale</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-	haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Action</a></li>
	            <li><a href="#">Another action</a></li>
	            <li><a href="#">Something else here</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">Separated link</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


  <%= yield %>

</body>
</html>
